<div class="row">
    <div class="col-xs-12">
        <h3 class="center"><code>{{ url }}</code></h3>
    </div>
</div>

<div class="row panel panel-danger" ng-repeat="method in documentation">
    <div class="col-xs-12 panel-heading">
        <div class="right">API Version <span class="badge">{{ method.version }}</span></div>
        <strong><samp>{{ method.name }}</samp></strong>
    </div>
    <div class="col-xs-12 panel-body">
        <p>{{ method.description }}</p>

        <div class="row">
            <div class="col-sm-4">
                <h4>Inputs</h4>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="input in method.inputs.required"><code>{{ input }}</code> <span class="label label-warning">Required</span></li>
                    <li class="list-group-item" ng-repeat="input in method.inputs.optional"><code>{{ input }}</code> <span class="label label-info">Optional</span></li>
                </ul>
            </div>
            <div class="col-sm-8">
                <h4>Output Example</h4>
                <pre>{{ method.outputExample | json }}</pre>
            </div>
        </div>
    </div>
</div>
